<div class="metamask content row g-0 pt-3">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card m-2">
      <div>
        <img class="card-img" src="/img/mm-logo.svg" alt="" />
      </div>
      <div class="card-body">
        <h2 class="card-title">
          <a
            class="link"
            href="https://metamask.io/"
            target="_blank"
            rel="noreferrer"
          >MetaMask</a>
        </h2>
        <p>A crypto wallet & gateway to blockchain apps</p>
        <div class="card-actions">
          <div class="btns-connect-metamask">
            <button
              id="connect-to-metamask"
              type="button"
              class="btn btn-primary btn-connect-metamask"
            >Connect with metamask</button>
          </div>
          <div class="btns-connected-metamask d-none">
            <button type="button" class="btn btn-primary btn-sign-message">Sign
              message</button>
            <button
              id="deactivate"
              type="button"
              class="btn btn-primary btn-deactivate"
            >Deactivate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card m-2">
      <div>
        <img class="card-img" src="/img/walletconnect-logo.svg" alt="" />
      </div>
      <div class="card-body">
        <h2 class="card-title">
          <a
            class="link"
            href="https://walletconnect.org/"
            target="_blank"
            rel="noreferrer"
          >Other</a>
        </h2>
        <p>Open protocol for connecting Other</p>
        <div class="card-actions">
          <button
            type="button"
            class="btn btn-primary btn-connect-other"
          >Connect with Other</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="deposit content row g-0 pt-3 d-none">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="title">
      <h1>Payment Gateways</h1>
      <span>{{nameProvider}}</span>
    </div>
    <div class="qrcode-box">
      <div id="qrcode"></div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card m-2">
      <div class="payment">
        <div class="payment-title">
          <h2>Payment method</h2>
          <div class="time">
            <span class="minus"></span>
            <span> : </span>
            <span class="second"></span>
          </div>
        </div>
        <div class="line"></div>
        <div class="payment-action">
          <label for="inputValue" class="col-form-label">Total</label>
          <div class="totalBox">
            <span>$ </span>
            <span id="totalValue" class="totalValue">{{totalValue}}</span>
          </div>
        </div>
        <div class="text-white">Select a cryptocurrency to pay with another
          wallet</div>
        <div class="payment-btns">
          <div
            id="sendBUSDButton"
            class="btn-token btn-BUSD"
            value="{{wallet.busd_56}}"
          >
            <div>
              <img class="icon-btn" src="/img/iconBUSD.png" />
              BUSD
            </div>
            <div>BEP20</div>
          </div>
          <div
            id="sendUSDTButton"
            class="btn-token btn-USDT"
            value="{{wallet.USDT}}"
          >
            <div>
              <img class="icon-btn" src="/img/iconUSDT.png" />
              USDT
            </div>
            <div>ERC20</div>
          </div>
        </div>
        <div class="payment-btns">
          <div id="sendBUSDtestButton" class="btn-token btn-BUSD" value="{{wallet.busd_4}}">
            <div>
              <img class="icon-btn" src="/img/iconBUSD.png" />
              BUSD Test
            </div>
            <div>BEP20</div>
          </div>
          <div id="sendUSDTtestButton" class="btn-token btn-USDT">
            <div>
              <img class="icon-btn" src="/img/iconUSDT.png" />
              USDT Test
            </div>
            <div>ERC20</div>
          </div>
        </div>
        <div class="back-home">
          <p>Back to home</p>
          <button type="button" class="btn btn-primary btn-back">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>